body {
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
  background-color: #ddd;
  border-bottom: .5px solid black;
  text-align: center;
  width : 40%;
  margin-bottom: 20px;
}
p {
  text-align: center;
}

table {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-collapse: collapse;

}
