* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    background-color: #ddd;
    border-bottom: 1px solid black;
    text-align: center;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 495px;
    height: 495px;
    border: 1px solid black;
    border-collapse: collapse;
}

footer p {
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
